.App {
  text-align: center;  
}

.application {
  display: flex;
}

.player-info {
  border-left: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 50vw;
}

.team-body {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  width: 50vw;
}

.team-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-message {
  font-size: 16px;
  color: white;
}

.goalkeepers {
  color: white;
  height: 20%;
  font-size: 16;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  width: 180px;
  font-size: 20px;
  border: 0px;
  margin: 8px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00ff85;
  border-radius: 15px;
  padding: 16px;
  height: 10vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00ff85;
  border-radius: 15px;
  height: 10vh;
}

.email-box, .password-box {
  border-radius: 5px;
  height: 30px;
  width: 180px;
  font-size: 20px;
  border: 0px;
  margin: 8px;
}

.button {
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  width: 180px;
  font-size: 20px;
  border: 0px;
  margin: 8px;
}

.button:hover{
  background-color: grey;
  transition: .3s;
}

.login {
  border: 2px solid blue;
}

.login-box {
  background-color: #888888;
  width: 30%;
  margin-left: 35%;
  border-radius: 5px;
  border: 2px solid red;
}

.player {
  margin: 4px;
  font-size: 20px;
  height: 64px;
  border-radius: 5px;
  border: 0px;
}