body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  color: #333333;
  font-family: Arial;
  /* max-width: 350px;
  margin: 0 auto;
  padding: 0 16px; */
/* 
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 2px solid red; */
  /* width: 100vw;
  min-height: 100vh; */
  display: flex;   
  flex-direction: column; 
  height: 100vh;
  background-color: #3d195b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
